@import 'custom';

html{
    position: relative;
    min-height: 100%;

}

.header {
    height: 100px;
    width: 100%;
    background-color: #384C73; /* Couleur de fond du header */
    position: relative; /* Nécessaire pour que le logo soit positionné par rapport au header */
    text-align: center;
    color: white;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

main{
    margin-bottom: 272px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1{
    font-family: 'Rubik Dirt', sans-serif;
}

p, div{
    font-family: 'Raleway', sans-serif;
}

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/girafe1.jpg);
        background-size: cover;
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
 

.text-justify{
    text-align: justify;
}



.image-card{ //parametres des images dans la galerie
    position:relative;
    &:hover{ //action de survol
        .titre-image,
        .action-image-buttons{
            opacity: 1;
        }
    }


    .action-image-buttons{ //positionement des boutons de edition et suppression - pour parametrer à souhait je peux le faire directement sur google en sélectionnant l'objet en question
        position : absolute; //position absolue afin que l'icon passe par dessus l'image
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        display: flex; //disposition obligatoire pour disposer les icons aux extremités de l'image
        justify-content: space-between; //espacement entre les deux icons

        opacity: 0;
        transition: all 0.3s;
    }
}