@import 'custom';

html {
    position: relative;
    min-height: 100%;

}

main {
    margin-bottom: 272px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    font-family: 'Rubik Dirt', sans-serif;
}

p, div {
    font-family: 'Raleway', sans-serif;
}